---
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";
import { getTranslations, names } from "@/lib/i18n";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import Star from "@/components/ui/star.astro";
import Button from "@/components/ui/button.astro";
import { Image } from "astro:assets";
import DashedPattern from "@/components/ui/pattern/DashedPattern.astro";
import Walkthrough from "@/components/ui/Walkthrough.astro";
import DatapackDropzone from "@/components/pages/tools/converter/DatapackDropzone";

const { lang, translate } = await getTranslations(Astro.url);

const walkthroughSteps = [
    {
        title: translate["tools.converter.step1.title"],
        description: translate["tools.converter.step1.description"],
        position: "bottom" as const,
        image: "/images/tools/migration/target.webp",
        imagePosition: "top-right" as const,
        target: "dropzone"
    },
    {
        title: translate["tools.converter.step2.title"],
        description: translate["tools.converter.step2.description"]
    }
];

const translateForm = {
    name: translate["tools.converter.form.name"],
    id: translate["tools.converter.form.id"],
    description: translate["tools.converter.from.description"],
    version: translate["tools.converter.form.version"],
    authors: translate["tools.converter.form.authors"],
    homepage: translate["tools.converter.form.homepage"],
    sources: translate["tools.converter.form.sources"],
    issues: translate["tools.converter.form.issues"],
    icon: translate["tools.converter.form.icon"],
    advanced: translate["tools.converter.form.advanced"],
    advancedDescription: translate["tools.converter.form.advanced.description"],
    download: translate["tools.converter.form.advanced.download"],
    downloadDisabled: translate["tools.converter.form.advanced.download.disabled"],
    authorsPlaceholder: translate["tools.converter.form.advanced.authors.placeholder"],
    error: translate["tools.converter.error"]
};

export const prerender = true;
export async function getStaticPaths() {
    return names.map((element) => ({
        params: { lang: element.lang }
    }));
}
---

<CompoundLayout title={translate["tools.migration.seo.title"]} description={translate["tools.migration.seo.description"]} image="/images/tools/migration.webp">
    <div class="fixed inset-0 -z-10">
        <ShiningStars/>
    </div>
    <div class="absolute rounded-full w-3/4 h-1/2 bg-linear-to-r from-[#830335] to-[#311e7696] opacity-20 blur-[10rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>

    <!-- Hero Section -->
    <section class="pt-36 md:pt-60 relative flex flex-col items-center justify-center pb-72">
        <div class="w-3/4 mx-auto">            
            <div class="mb-16">
                <h1 class="text-3xl md:text-5xl mb-4 font-semibold">{translate["tools.converter.home"]}</h1>
                <p class="text-sm text-zinc-400 md:w-3/4 w-full mb-4">
                    {translate["tools.converter.description"]}
                </p>
                <ul class="list-disc list-inside text-sm text-zinc-400 w-3/4 mb-4">
                    <li>
                        {translate["tools.converter.description.list.1"]}
                    </li>
                    <li>
                        {translate["tools.converter.description.list.2"]} 
                    </li>
                </ul>
                <p class="text-sm text-zinc-400 md:w-3/4 w-full mb-4">
                    {translate["tools.converter.instruction"]}
                </p>
                <Star/> 
            </div>

            <DatapackDropzone client:load translateForm={translateForm}>
                {translate["tools.converter.dropzone"]}
            </DatapackDropzone>
        </div>
    </section>

    <section class="w-3/4 mx-auto relative grid md:grid-cols-2 items-center gap-x-16 gap-y-24 mt-16 mb-40">
        <div class="absolute w-full inset-0 shadow-2xl bg-linear-to-r from-[#401727] to-[#311e7696] opacity-20 rounded-full blur-[10rem]"/>
        <DashedPattern class="[mask-image:radial-gradient(white,transparent_60%)]"/>

        <div class="relative w-full flex justify-center items-center">
            <img class="absolute opacity-10 select-none" src="/icons/circle.svg" alt="box"/>
            <Image loading="eager" width="1200" height="900" src="/images/background/tools/enchant-hero.webp" alt="404"
                   class="aspect-auto select-none"
            />
        </div>
        <div class="h-full w-full mx-auto relative">
            <div class="size-full flex flex-col justify-center">
                <small class="text-pink-700 font-bold tracking-wide text-[16px]">
                    {translate["generic.section"]}
                </small>
                <h1 class="text-white text-4xl md:text-6xl font-bold mt-4 text-balance">
                    {translate["datapacks.neoenchant.personalize.title"]}
                </h1>
                <p class="text-gray-300 mt-4">
                    {translate["datapacks.neoenchant.personalize.description"]}
                </p>

                <div class="mt-8 flex flex-col md:flex-row gap-4">
                    <Button href={`/${lang}/tools/enchant`} size="xl" variant="primary" class="w-full md:w-auto">
                        {translate["generic.start"]}
                    </Button>
                    <Button href={`/${lang}/tools/enchant`} size="xl" variant="ghost" class="w-full md:w-auto">
                        {translate["generic.learn_more"]}
                    </Button>
                </div>
            </div>
        </div>
    </section>

    <Walkthrough steps={walkthroughSteps} />
    
    <section class="w-3/4 mx-auto relative flex flex-col-reverse md:grid md:grid-cols-2 items-center gap-x-16 gap-y-24 my-40">
        <div class="absolute w-full inset-0 shadow-2xl bg-linear-to-r from-[#401727] to-[#311e7696] opacity-20 rounded-full blur-[10rem]"/>
        <DashedPattern class="[mask-image:radial-gradient(white,transparent_60%)]"/>

        <div class="h-full w-full mx-auto relative">
            <div class="size-full flex flex-col justify-center">
                <h1 class="text-white text-4xl md:text-6xl font-bold mt-4 text-balance">
                    {translate["tools.migration.description.title"]}
                </h1>
                <p class="text-gray-300 mt-4">
                    {translate["tools.migration.description.description"]}
                </p>

                <div class="mt-8 flex flex-col md:flex-row gap-4">
                    <Button href={`/${lang}/tools/enchant`} size="xl" variant="white-shimmer" class="w-full md:w-auto">
                        {translate["generic.take_a_look"]}
                    </Button>
                    <Button href={`/${lang}/tools/enchant`} size="xl" variant="ghost" class="w-full md:w-auto">
                        {translate["generic.learn_more"]}
                    </Button>
                </div>
            </div>
        </div>
        <div class="relative w-full flex justify-center items-center">
            <img class="absolute opacity-10 select-none" src="/icons/circle.svg" alt="box"/>
            <Image loading="eager" width="1200" height="900" src="/images/tools/modrinth.webp" alt="404"
                   class="aspect-auto select-none"
            />
        </div>
    </section>
    
    <!-- Bouton pour démarrer le walkthrough -->
    <button
        class="fixed bottom-4 right-4 p-3 bg-zinc-900/80 backdrop-blur-md rounded-full border border-zinc-800 hover:bg-zinc-800/80 transition-colors"
        onclick="window.walkthrough.start()"
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
    </button>
</CompoundLayout>