---
import { getTranslations } from "@/lib/i18n";
const { translate, lang } = await getTranslations(Astro.url);

const footer = {
    social: [
        {
            name: translate["footer.social.github"],
            path: "https://github.com/Hardel-DW",
            icon: "github.svg"
        },
        {
            name: translate["footer.social.twitter"],
            path: "https://twitter.com/Hardel7401",
            icon: "twitter.svg"
        },
        {
            name: translate["footer.social.discord"],
            path: "https://discord.gg/8z3tkQhay7",
            icon: "discord.svg"
        }
    ],
    content: [
        {
            name: translate["footer.content.navigation"],
            links: [
                {
                    title: translate["footer.content.navigation.home"],
                    path: `/${lang}`
                },
                {
                    title: translate["footer.content.navigation.datapacks"],
                    path: `/${lang}/datapacks/neoenchant`
                },
                {
                    title: translate["footer.content.navigation.guides"],
                    path: `/${lang}/soon`
                },
                {
                    title: translate["footer.content.navigation.enchantment_tool"],
                    path: `/${lang}/tools/enchant`
                },
                {
                    title: translate["footer.content.navigation.contact"],
                    path: `/${lang}/contact`
                }
            ]
        },
        {
            name: translate["footer.content.other"],
            links: [
                {
                    title: translate["footer.content.other.news"],
                    path: `/${lang}/blog`
                },
                {
                    title: translate["footer.content.other.faq"],
                    path: `/${lang}`
                },
                {
                    title: translate["footer.content.other.about"],
                    path: `/${lang}/soon`
                }
            ]
        },
        {
            name: translate["footer.content.support"],
            links: [
                {
                    title: translate["footer.content.support.help_center"],
                    path: `/${lang}/contact`
                },
                {
                    title: translate["footer.content.support.term_of_service"],
                    path: "/terms"
                },
                {
                    title: translate["footer.content.support.legal"],
                    path: "/legal"
                },
                {
                    title: translate["footer.content.support.privacy"],
                    path: "/privacy"
                }
            ]
        }
    ]
};
---


<footer class="w-full px-4 pb-4 bg-linear-to-b from-transparent to-black/70">
    <div class="max-w-[theme(screens.2xl)] mx-auto border-t border-zinc-900 pt-8 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8 px-6 md:px-20">
        <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
            <a href="/public" class="text-lg flex items-center">
                <img loading="lazy" src="/favicon.svg" alt="Voxel" class="w-6 h-6 brightness-90 mr-2"/>
                <span class="font-bold text-primary">Voxel</span>
            </a>
            <p class="mt-4 text-sm text-zinc-400 tracking-tight font-light max-w-xs">
                {translate["footer.description"]}
            </p>
            <div class="flex gap-3 mt-4 items-center">
                {
                    footer.social.map((item) => (
                            <a
                                    href={item.path}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class="bg-zinc-950 hover:bg-zinc-900 rounded-xs w-6 h-6 inline-flex items-center justify-center text-zinc-200"
                            >
                                <img loading="lazy" src={"/icons/company/" + item.icon} alt={item.name}
                                     class="w-8 h-8 invert"/>
                                <span class="sr-only">{item.name}</span>
                            </a>
                    ))
                }
            </div>
        </div>
        {
            footer.content.map((item) => (
                    <div>
                        <h3 class="font-medium text-sm text-zinc-200">{item.name}</h3>
                        <div class="flex flex-col mt-2">
                            {item.links.map((link) => (
                                    <a href={link.path || "#"}
                                       class="py-1 text-sm text-zinc-400 hover:text-zinc-200">
                                        {link.title}
                                    </a>
                            ))}
                        </div>
                    </div>
            ))
        }
    </div>

    <div class="mt-8 text-center text-zinc-400 text-sm">
        <p class="text-sm mt-2 text-zinc-400 tracking-tight">
            {translate["footer.copyright_left"]} {new Date().getFullYear()} {translate["footer.copyright_right"]}
        </p>
    </div>
</footer>