---
import { getTranslations } from "@/lib/i18n";
import Navigation from "@/components/layouts/compound/navbar/Navigation.astro";
import NavigationList from "@/components/layouts/compound/navbar/NavigationList.astro";
import NavigationDropdown from "@/components/layouts/compound/navbar/NavigationDropdown.astro";
import ListItem from "@/components/layouts/compound/navbar/ListItem.astro";
import HeroCard from "@/components/layouts/compound/navbar/HeroCard.astro";

const { translate, lang } = await getTranslations(Astro.url);
---

<Navigation>
    <NavigationList>
        <li>
            <a
                href={`/${lang}/blog`}
                class="px-4 py-2 rounded-3xl cursor-pointer text-[16px] tracking-wide transition text-zinc-400 hover:text-white inline-flex h-10 w-max items-center justify-center bg-transparent hover:bg-zinc-900 focus:bg-zinc-700 focus:text-white focus:outline-hidden disabled:pointer-events-none disabled:opacity-50"
            >
                {translate["navbar.item.blog"]}
            </a>
        </li>

        <NavigationDropdown label={translate["navbar.item.data_pack"]}>
            <div class="p-6 space-y-6 md:w-[400px] lg:w-[500px]">
                <HeroCard
                    title={translate["navbar.datapack.modrinth.title"]}
                    description={translate["navbar.datapack.modrinth.description"]}
                    image="/images/background/modrinth.webp"
                    href="https://modrinth.com/user/Hardel-DW"
                />
                <ul class="grid gap-3 mt-3">
                    <ListItem
                        href={`/${lang}/datapacks/neoenchant`}
                        title={translate["navbar.datapack.neoenchant.title"]}
                        image="/images/features/title/ne.png"
                    >
                        {translate["navbar.datapack.neoenchant.description"]}
                    </ListItem>
                    <ListItem
                        href={`/${lang}/datapacks/yggdrasil`}
                        title={translate["navbar.datapack.yggdrasil.title"]}
                        image="/images/features/title/yg.webp"
                    >
                        {translate["navbar.datapack.yggdrasil.description"]}
                    </ListItem>
                </ul>
            </div>
        </NavigationDropdown>

        <NavigationDropdown label={translate["navbar.item.resources"]}>
            <div class="p-6 md:w-[400px] lg:w-[500px]">
                <HeroCard
                    href={`/${lang}/tools/enchant`}
                    title={translate["navbar.resources.tool.enchant.title"]}
                    description={translate["navbar.resources.tool.enchant.description"]}
                    image="/images/background/tools/enchant-configurator.webp"
                />
                <ul class="grid gap-3 mt-3 lg:grid-cols-[.75fr_1fr]">
                    <ListItem
                        href={`/${lang}/tools/harmonization`}
                        title={translate["navbar.resources.harmonization.title"]}
                    >
                        {translate["navbar.resources.harmonization.description"]}
                    </ListItem>
                    <ListItem
                        href={`/${lang}/resources/asset`}
                        title={translate["navbar.resources.asset.title"]}
                    >
                        {translate["navbar.resources.asset.description"]}
                    </ListItem>
                    <ListItem
                        href={`/${lang}/soon`}
                        title={translate["navbar.resources.sound.title"]}
                    >
                        {translate["navbar.resources.sound.description"]}
                    </ListItem>
                    <ListItem
                        href={`/${lang}/tools/migration`}
                        title={translate["navbar.resources.migration.title"]}
                    >
                        {translate["navbar.resources.migration.description"]}
                    </ListItem>
                </ul>
            </div>
        </NavigationDropdown>

        <li>
            <a
                href={`/${lang}/contact`}
                class="px-4 py-2 rounded-3xl cursor-pointer text-[16px] tracking-wide transition text-zinc-400 hover:text-white inline-flex h-10 w-max items-center justify-center bg-transparent hover:bg-zinc-900 focus:bg-zinc-700 focus:text-white focus:outline-hidden disabled:pointer-events-none disabled:opacity-50"
            >
                {translate["navbar.item.contact"]}
            </a>
        </li>
    </NavigationList>
</Navigation>