---
import {getCollection} from "astro:content";
import Card from "@/components/card.astro";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import DashedPattern from "@/components/pattern/DashedPattern.astro";
import type {GetStaticPaths, InferGetStaticPropsType} from "astro";
import {cn} from "@/lib/utils";

export const prerender = true;
export const getStaticPaths = (async ({paginate}) => {
    const allPosts = await getCollection("guide", ({data}) => !data.metadata.draft);
    const allSortedPosts = allPosts.sort((a, b) => b.data.metadata.publishDate.valueOf() - a.data.metadata.publishDate.valueOf());

    return paginate(allSortedPosts, {pageSize: 6});
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const {page}: Props = Astro.props;
---

<CompoundLayout transparent={false} title="Voxel - Guide">
    <section class="stack items-center">
        <div id="background"
             class="size-full -z-10 bg-cover bg-center bg-no-repeat opacity-10 blur-3xl transition-all duration-300"/>

        <div class="place-self-center w-1/2 h-3/4 blur-[100px] bg-gradient-to-br from-zinc-700 to-zinc-900 rounded-full opacity-20"/>
        <DashedPattern class="relative"/>
        <div class="w-5/6 s:w-10/12 md:w-4/5 mx-auto py-16 relative">
            <article class={cn("grid sm:grid-cols-2 gap-10 lg:gap-16", {
                "pb-56": page.data.length % 2 === 1
            })}>
                <div class="size-full translate-y-12 flex flex-col justify-center items-start gap-2">
                    <h2 class="text-2xl sm:text-7xl font-bold">Les Guides</h2>
                    <p class="text-3xl text-gray-400 text-center">
                        Découvrez nos derniers guides et amusez-vous.
                    </p>
                    <div class="h-2 w-20 bg-pink-700 rounded-full"/>
                </div>
                {page.data.map((post, index: number) => (
                        <Card snippet={post.data.metadata.snippet}
                              date={post.data.metadata.publishDate.toDateString()}
                              author={post.data.metadata.author}
                              loading={index <= 2 ? 'eager' : 'lazy'}
                              decoding={index <= 2 ? 'sync' : 'async'}
                              href={`/guides/${post.id}`}
                              images={{...post.data.metadata.images}}
                        >
                            {post.data.metadata.title}
                        </Card>
                ))}
            </article>
        </div>
    </section>
</CompoundLayout>

<script is:inline>
    const background = document.getElementById('background');
    const cards = document.querySelectorAll('[data-card]');

    for (const card of cards) {
        card.addEventListener('mouseenter', () => {
            background.style.backgroundImage = `url(${card.getAttribute('data-card')})`;
        });
    }
</script>