---
import Layout from "@/components/layouts/Layout.astro";
import type { Props as SidebarProps } from "@/components/layouts/compound/sidebar.astro";
import Sidebar from "@/components/layouts/compound/sidebar.astro";

export interface Props {
    title?: string;
    description?: string;
    image?: string;
    sidebar?: SidebarProps;
}

const { title, description, image, sidebar }: Props = Astro.props;
---

<Layout title={title} description={description} image={image}>
    <div class="flex relative md:p-4 h-dvh">
        <div class="fixed -z-20 inset-0 bg-cover bg-center bg-no-repeat opacity-10 blur-3xl"
             style={{backgroundImage: `url(${image})`}}>
        </div>

        <!-- Listes des Guides -->
        <div style="width: 250px" id="collapse-menu"
             class="@container shrink-0 overflow-hidden transition-[width] duration-500 ease-in-out max-md:absolute max-md:inset-0 max-md:bg-linear-to-br max-md:from-guides-gradient-from max-md:to-guides-gradient-to max-md:z-50 max-md:py-4 max-md:rounded-r-2xl max-md:border max-md:border-zinc-700">
            <div class="w-[250px] flex flex-col h-full relative z-10 px-4 md:pl-0 @sm:pl-0">
                <!-- Top Content -->
                <div>
                    <!-- The Logo and Voxel Title -->
                    <div class="flex w-full items-center justify-between">
                        <a href="/"
                           class="text-lg flex items-center transition focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-hidden focus-visible:shadow-outline-indigo rounded-full px-2 -ml-2">
                            <img src="/icons/logo.svg" alt="Voxel" class="w-6 h-6 brightness-90 mx-2"/>
                            <span class="font-bold text-primary">VOXEL</span>
                        </a>
                        <img id="menu-dropdown" src="/icons/menu.svg" alt="menu"
                             class="w-6 h-6 cursor-pointer block md:hidden invert-[75%]"/>
                    </div>
                </div>

                {sidebar && (
                    <Sidebar groups={sidebar.groups}/>
                )}
            </div>
        </div>
 
        <!-- Content -->
        <div class="overflow-x-hidden stack flex bg-content md:border md:border-zinc-900 md:rounded-2xl w-full relative z-0">
            <div class="flex absolute inset-0 p-4 justify-between items-center select-none h-fit gap-x-4">
                <img src="/icons/menu.svg" alt="Menu" id="menu-inner" class="w-6 h-6 invert opacity-75 cursor-pointer"/>

                <h1 class="text-sm text-zinc-400 truncate">{title}</h1>

                <a href="/" class="select-none size-fit">
                    <img src="/icons/logo.svg" alt="Voxel" class="w-6 h-6 opacity-75"/>
                </a>
            </div>


            <div id="content" class="px-8 lg:px-0 pt-12 transition w-full md:w-[95%] justify-self-center">
                <slot/>
            </div>
        </div>
    </div>
</Layout>

<script>
    const menuInner = document.getElementById("menu-inner")!;
    const menuDropdown = document.getElementById("menu-dropdown")!;
    const collapseMenu = document.getElementById("collapse-menu")!;

    menuInner.addEventListener("click", () => {
        const check = collapseMenu.style.width === "0px";
        collapseMenu.style.width = check ? "250px" : "0"; 
    });

    menuDropdown.addEventListener("click", () => {
        collapseMenu.style.width = "0";
    });
</script>