---
import Tracking from "@/components/layouts/compound/tracking/tracking.astro";
import "@/global.css";
import { type BaseLayoutProps, LayoutHelper } from "@/lib/LayoutHelper";

export interface Props extends BaseLayoutProps {}

if (!Astro?.url || !Astro?.site) {
    throw new Error("Astro.url and Astro.site must be defined in your astro config");
}

const LayoutContent = new LayoutHelper(Astro.url, Astro.site);
LayoutContent.setTitle(Astro.props?.title);
LayoutContent.setDescription(Astro.props?.description);
LayoutContent.setOpenGraph(Astro.props?.openGraph);
---

<!doctype html>
<html lang="en">
<head>
    <title>{LayoutContent.shownTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="canonical" href={LayoutContent.canonicalURL}/>
    <meta charset="UTF-8"/>

    <meta name="description" content={LayoutContent.shownDescription}/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="description" content={LayoutContent.shownDescription}/>
    <meta name="theme-color" content="#721582"/>

    <meta property="og:title" content="Voxel"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content={LayoutContent.resolvedImageWithDomain}/>
    <meta property="og:description" content={LayoutContent.shownDescription}/>
    <meta property="og:url" content={LayoutContent.canonicalURL}/>
    <meta property="og:image:url" content={LayoutContent.resolvedImageWithDomain}/>
    <meta property="og:image:alt" content="Voxel"/>

    <meta name="twitter:title" content="Voxel"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content={LayoutContent.canonicalURL}/>
    <meta name="twitter:description" content={LayoutContent.shownDescription}/>
    <meta name="twitter:creator" content="@Hardel-DW"/>
</head>
<body>
<slot/>
<Tracking/>
</body>
</html>
