---
import '@fontsource/inter/latin.css';
import '../../global.css';
import {ViewTransitions} from 'astro:transitions';
import Navbar from "./compound/navbar.astro";
import Footer from "./compound/footer.astro";

export interface Props {
    title?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const resolvedImageWithDomain = new URL('/opengraph.webp', Astro.site).toString();
const {title} = Astro.props;
const shownTitle = title ? 'Voxel | ' + title : 'Voxel';
const description = "Voxel, la référence pour tout développeur souhaitant se lancer ou se perfectionner dans la création de mods Minecraft. Offrant des ressources de pointe et des guides avancés, nous accompagnons chaque talent, du novice à l'expert, avec des solutions professionnelles adaptées à vos besoins.";
---

<!doctype html>
<html lang="en">
<head>
    <title>{shownTitle}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="canonical" href={canonicalURL}>
    <meta charset="UTF-8"/>

    <meta name="description" content={description}/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <meta name="description" content={description}>
    <meta name="theme-color" content="#721582">

    <meta property="og:title" content="Voxel">
    <meta property="og:type" content="website">
    <meta property="og:image" content={resolvedImageWithDomain}>
    <meta property="og:description" content={description}>
    <meta property="og:url" content={canonicalURL}>
    <meta property="og:image:url" content={resolvedImageWithDomain}>
    <meta property="og:image:alt" content="Voxel">

    <meta name="twitter:title" content="Voxel">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content={canonicalURL}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:creator" content="@Hardel-DW">

    <ViewTransitions/>
</head>
<body>
<Navbar/>

<slot/>
<Footer/>
</body>
</html>