---
import { getCollection } from "astro:content";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import TimelineContent from "@/components/pages/timeline/TimelineContent.astro";
import { getTranslations, names } from "@/lib/i18n";
import ShiningStars from "../../../components/ui/pattern/ShiningStars.astro";

export const prerender = true;
const { translate } = await getTranslations(Astro.url);
export async function getStaticPaths() {
    const timelines = await getCollection("timeline");
    const teamCollection = await getCollection("team");
    const updates = await getCollection("update", ({ data }) => {
        return !data.draft && data.publishDate < new Date();
    });

    const allSortedPosts = updates.sort((a, b) => {
        return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
    });

    return timelines.flatMap((timeline) => {
        const members = timeline.data.authors.map((author) => {
            return teamCollection.find((member) => member.id === author);
        });

        return names.map((i18n) => {
            const updateTimeline = allSortedPosts.filter(
                (update) => update.slug.split("/")[1] === timeline.id && update.slug.split("/")[0] === i18n.lang
            );

            return {
                params: { lang: i18n.lang, timeline: timeline.id },
                props: {
                    updates: updateTimeline,
                    members,
                    timeline
                }
            };
        });
    });
}

const { updates, members, timeline } = Astro.props;
---

<CompoundLayout title="Enchant Configurator">
    <div class="fixed inset-0">
        <ShiningStars/>
    </div>
    <div class="absolute rounded-full w-3/4 h-1/2 bg-gradient-to-r from-[#830335] to-[#311e7696] opacity-20 blur-[10rem] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"/>

    <section class="w-11/12 md:w-3/4 max-w-5xl mx-auto px-8 mb-6 mt-40 relative z-20">
        <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                {timeline.data.name}
        </span>

        <h1 class="text-3xl lg:text-6xl lg:tracking-tight mt-1 lg:leading-tight">
            {translate["timeline.updates"]}
        </h1>

        <div class="mt-8 flex items-center justify-between gap-y-4">
            {members.map((member) => (
                    <a class="flex items-center gap-4">
                        <img src={member?.data.image.src} width="40" height="40" class="rounded-full"
                             alt={member?.data.image.alt}/>
                        <div>
                            <p class="text-sm text-zinc-400 font-bold">{member?.data.name}</p>
                            <p class="text-sm text-zinc-400">{member?.data.github}</p>
                        </div>
                    </a>
            ))}

            <small class="text-sm text-zinc-400 font-bold">
                {translate["timeline.author"]}
            </small>
        </div>

        <div class="h-1 w-full bg-zinc-700 rounded-full mt-2"/>
    </section>

    <section class="max-w-4xl p-8 mx-auto mt-8 relative z-20 mb-20">
        <ul class="space-y-12">
            {updates.map((update) =>
                    <TimelineContent entry={update}/>)}
        </ul>
    </section>
</CompoundLayout>