---
import { getCollection } from "astro:content";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import YggdrasilLootViewer from "@/components/pages/datapacks/yggdrasil/YggdrasilLootViewer";
import DatapackCard from "@/components/ui/DatapackCard.astro";
import GallerySection, { type ImageItem } from "@/components/ui/GallerySection.astro";
import Lightbox from "@/components/ui/Lightbox.astro";
import VideoSection from "@/components/ui/VideoSection.astro";
import Adsense from "@/components/ui/adsense.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";
import Vortex from "@/components/ui/pattern/Vortex.astro";
import { getTranslations, names } from "@/lib/i18n";

const { translate } = await getTranslations(Astro.url);
export const prerender = true;
export async function getStaticPaths() {
    return names.map((element) => ({
        params: { lang: element.lang }
    }));
}

const images: ImageItem[] = [
    { rows: 2, cols: 2, path: "/images/addons/card/yggdrasil/alfheim.webp" },
    { rows: 1, cols: 2, path: "/images/addons/card/yggdrasil/another_street.webp" },
    { rows: 1, cols: 2, path: "/images/addons/card/yggdrasil/elf_house.webp" },
    { rows: 2, cols: 2, path: "/images/addons/card/yggdrasil/fight.webp" },
    { rows: 2, cols: 2, path: "/images/addons/card/yggdrasil/fountain.webp" },
    { rows: 1, cols: 2, path: "/images/addons/card/yggdrasil/house.webp" },
    { rows: 1, cols: 1, path: "/images/addons/card/yggdrasil/lac.webp" },
    { rows: 1, cols: 1, path: "/images/addons/card/yggdrasil/lock.webp" },
    { rows: 1, cols: 1, path: "/images/addons/card/yggdrasil/mystic_house.webp" },
    { rows: 2, cols: 1, path: "/images/addons/card/yggdrasil/quest.webp" },
    { rows: 1, cols: 2, path: "/images/addons/card/yggdrasil/runic_fracture.webp" },
    { rows: 1, cols: 1, path: "/images/addons/card/yggdrasil/street.webp" },
    { rows: 2, cols: 1, path: "/images/addons/card/yggdrasil/sword.webp" },
    { rows: 1, cols: 1, path: "/images/addons/card/yggdrasil/village.webp" },
    { rows: 1, cols: 2, path: "/images/addons/card/yggdrasil/table.webp" },
    { rows: 1, cols: 1, path: "/images/addons/card/yggdrasil/underground.webp" }
];

// Récupération des structures
const structures = await getCollection("structure");
const yggdrasil = structures.filter((s) => s.id.startsWith("yggdrasil")).filter((s) => !s.data.disabled);
---

<CompoundLayout
        description={translate["datapacks.yggdrasil.description"]}
        openGraph={{
            title: translate["datapacks.yggdrasil.title"] + " - " + translate["generic.branding"],
            description: translate["datapacks.yggdrasil.description"],
            image: "/images/background/datapacks/yggdrasil.webp",
        }}
        title="Yggdrasil"
>

    <section class="h-[90vh] relative z-20 flex flex-col items-center justify-end">
        {/* Gradients */}
        <div class="absolute inset-0 bg-linear-to-b from-black/50 from-5% to-transparent"/>
        <div class="absolute bottom-0 h-1/2 w-full bg-linear-to-t from-black to-transparent"/>

        {/* Background Image */}
        <img
                src={yggdrasil[0].data.image}
                alt={yggdrasil[0].data.id}
                id="main-background"
                width="1920"
                height="1080"
                loading="eager"
                class="absolute inset-0 size-full object-cover object-center -z-10 transition-all duration-500"
        />

        {/* Content */}
        <div class="relative flex flex-col items-center gap-y-4 pb-24 select-none">
            <div id="structure-viewer" data-selected-index="0">
                <YggdrasilLootViewer client:only="react" structures={yggdrasil}/>
            </div>

            <span style={{fontFamily: "fantasy"}} id="title"
                  class="text-4xl md:text-6xl uppercase tracking-widest text-white">
                {yggdrasil[0].data.name}
            </span>

            <div class="w-full flex items-center gap-x-4">
                <div class="h-px flex-1 bg-linear-to-l from-zinc-700 to-transparent"/>
                <img src="/icons/star.svg" alt="star" class="size-6 invert"/>
                <div class="h-px flex-1 bg-linear-to-r from-zinc-700 to-transparent"/>
            </div>

            {/* Structure Buttons */}
            <div class="flex items-center gap-x-4">
                {yggdrasil.map((structure, index) => (
                        <button
                                type="button"
                                data-index={index}
                                class="structure-btn relative size-24 transition-transform grayscale hover:grayscale-0 duration-300 hover:scale-110 cursor-pointer"
                        >
                            <img
                                    src={structure.data.icon}
                                    alt={structure.data.id}
                                    class="w-full h-full object-contain p-1"
                            />
                        </button>
                ))}
            </div>
        </div>
    </section>

    <section class="mb-20 relative">
        <div class="fixed inset-0 -z-10">
            <ShiningStars/>
        </div>
    </section>

    <VideoSection
            url="https://www.youtube.com/embed/UNYxJkHhb8w"
            title={translate["datapacks.yggdrasil.title"] + " : The Lost Village"}
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien."
    />

    <GallerySection images={images} title="Voir les images"/>

    <!-- Ecosystem -->
    <section class="relative mt-40">
        <div class="absolute inset-0 h-full overflow-hidden p-8 opacity-50">
            <Vortex/>
        </div>

        <div class="w-3/4 mx-auto gap-8">
            <div class="mb-24">
                <h1 class="text-4xl md:text-6xl break-words font-bold text-white text-center w-full md:w-1/2 mx-auto">
                    {translate["datapacks.neoenchant.ecosystem"]}
                </h1>
                <hr class="border-t-4 mt-4 rounded-full border-rose-700 w-1/4 mx-auto"/>
            </div>
            <div class="grid md:grid-cols-2 items-center w-full gap-y-36 gap-x-16 min-h-[568px] py-24 mb-24">
                <DatapackCard
                        href="https://modrinth.com/datapack/beyondenchant"
                        asset="/images/background/datapacks/beyond.webp"
                        title={translate["datapacks.beyondenchant.short"]}
                        description={translate["datapacks.beyondenchant.description"]}
                        buttonText={translate["datapacks.modrinth.download"]}
                        buttonTextMobile={translate["generic.more"]}
                />

                <DatapackCard
                        href="https://modrinth.com/datapack/neoenchant"
                        asset="/images/background/datapacks/neoenchant.webp"
                        title={translate["datapacks.neoenchant.short"]}
                        description={translate["datapacks.neoenchant.description"]}
                        buttonText={translate["datapacks.modrinth.download"]}
                        buttonTextMobile={translate["generic.more"]}
                />

                <DatapackCard
                        href="https://modrinth.com/datapack/better-furnace"
                        asset="/images/background/datapacks/better_furnace.webp"
                        title={translate["datapacks.better_furnace.short"]}
                        description={translate["datapacks.better_furnace.description"]}
                        buttonText={translate["datapacks.modrinth.download"]}
                        buttonTextMobile={translate["generic.more"]}
                />

                <Adsense slot="8340982538"/>
            </div>
        </div>

        <Lightbox/>
    </section>
</CompoundLayout>

<script is:inline define:vars={{yggdrasil}}>
    // Gestion du background et du titre
    function updateSelectedStructure(index) {
        const structure = yggdrasil[index];
        const background = document.getElementById('main-background');
        const title = document.getElementById('title');
        const viewer = document.getElementById('structure-viewer');

        if (background && title) {
            background.src = structure.data.image;
            background.alt = structure.data.id;
            title.textContent = structure.data.name;
        }

        if (viewer) {
            viewer.dataset.selectedIndex = index.toString();
        }

        // Mise à jour des boutons
        for (const [i, btn] of document.querySelectorAll('.structure-btn').entries()) {
            if (i === index) {
                btn.classList.add('scale-125', "grayscale-0");
            } else {
                btn.classList.remove('scale-125', "grayscale-0");
            }
        }
    }

    // Event listeners
    document.querySelectorAll('.structure-btn').forEach((btn, index) => {
        btn.addEventListener('click', () => {
            if (yggdrasil[index]) {
                selectedIndex = index;
                updateSelectedStructure(index);
            }
        });
    });
</script>