---
import {Picture} from "astro:assets";
import {getFormattedDate} from "@/lib/utils";
import type {HTMLAttributes} from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    href: string;
    images: {
        src: string;
        alt: string;
    };
    loading?: "eager" | "lazy";
    decoding?: "sync" | "async";
    date: string;
    snippet?: string;
    author?: string;
}

const {href, snippet, date, images, loading = "lazy", decoding = "async"}: Props = Astro.props;
const formatedDate = getFormattedDate(date);
---

<a href={href} data-card={images.src} class="sm:even:translate-y-1/2 group">
    <div class="stack">
        <div class="w-full h-1/2 group-hover:h-3/4 transition-[height] self-end z-10 rounded-[2rem] bg-gradient-to-t from-black/90 from-15% to-transparent"/>
        <Picture width={800} height={600} src={images.src} alt={images.alt} loading={loading} decoding={decoding}
                 class="size-full rounded-[2rem] object-cover"/>

        <div class="flex self-end gap-y-1 flex-col p-6 z-20">
            <h2 class="text-base s:text-2xl font-semibold leading-snug tracking-tight">
                <slot/>
            </h2>
            {snippet && <p class="text-sm text-zinc-500 text-balance w-3/4 line-clamp-2">{snippet}</p>}
        </div>

        <div class="flex z-20 self-end justify-self-end p-6 gap-2 text-sm text-zinc-500">
            {date &&
                    <time datetime={formatedDate}>{formatedDate}</time>}
        </div>
    </div>
</a>