---
import { getCollection } from "astro:content";
import CompoundLayout from "@/components/layouts/CompoundLayout.astro";
import BlogCard from "@/components/ui/BlogCard.astro";
import Button from "@/components/ui/button.astro";
import ShiningStars from "@/components/ui/pattern/ShiningStars.astro";
import { getTranslations, names } from "@/lib/i18n";
import type { PaginateFunction } from "astro";

export const prerender = true;
const { lang, translate } = await getTranslations(Astro.url);
export async function getStaticPaths({
    paginate
}: {
    paginate: PaginateFunction;
}) {
    const PAGE_SIZE = 9;
    const allPosts = await getCollection("blog", ({ data }) => {
        return !data.draft && data.publishDate < new Date();
    });

    const allSortedPosts = allPosts.sort((a, b) => {
        return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
    });

    return names.flatMap((i18n) => {
        return paginate(
            allSortedPosts.filter((post) => post.id.split("/")[0] === i18n.lang),
            {
                pageSize: PAGE_SIZE,
                params: {
                    lang: i18n.lang
                }
            }
        );
    });
}

const { page } = Astro.props;
---

<CompoundLayout title="Blog">
    <div>
        <div class="fixed inset-0 -z-10">
            <ShiningStars/>
        </div>

        <section class="w-full md:w-3/4 max-w-[theme(screens.xl)] mx-auto px-8 mt-32 md:mt-40">
            <h1 class="text-3xl lg:text-6xl lg:tracking-tight mt-1 lg:leading-tight">
                {translate["blog.latest"]}
            </h1>

            <div class="h-1 w-full bg-zinc-700 rounded-full mt-2"/>
        </section>

        <section class="max-w-[theme(screens.xl)] mx-auto px-8 mt-16">
            <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 lg:gap-16">
                {page.data.map((post, index) => (
                        <BlogCard
                                href={`/${lang}/blog/${post.id.split("/")[1]}`}
                                src={post.data.image.src}
                                alt={post.data.image.alt}
                                slug={post.slug}
                                date={post.data.publishDate}
                                lang={lang}
                                category={post.data.category}
                                title={post.data.title}
                                index={index}
                        />
                ))}
            </ul>
        </section>

        <section class="max-w-[theme(screens.xl)] mx-auto px-8 mt-16">
            <div class="flex justify-center items-center mt-10 gap-4">
                {page.url.prev && (
                        <Button variant="primary" href={page.url.prev}>
                            &larr; {translate["blog.previous"]}
                        </Button>
                )}
                {page.url.next && (
                        <Button variant="primary" href={page.url.next}>
                            {translate["blog.next"]} &rarr;
                        </Button>
                )}
            </div>
        </section>
    </div>
</CompoundLayout>