---
import Button from "./button.astro";

interface Props {
    href: string;
    asset: string;
    title: string;
    description: string;
    buttonText: string;
    buttonTextMobile: string;
}

const props = Astro.props;
---

<div
        style={{backgroundImage: `url('${props.asset}')`}}
        class="relative w-full aspect-video group border flex flex-col justify-between border-zinc-700 rounded-3xl p-4 bg-cover bg-center"
>
    <h2 class="absolute -z-10 -top-20 right-0 text-4xl md:text-6xl tracking-wider uppercase font-thin text-zinc-600">
        {props.title}
    </h2>
    <div class="absolute -z-20 inset-0 translate-x-4 scale-y-110 border border-zinc-700 rounded-3xl"/>
    <div class="absolute z-10 inset-0 shadow-bottom"/>

    <div class="self-end relative z-20">
        <Button href={props.href}
                variant="modrinth"
                class="shadow-2xl shadow-black">
            <img src="/icons/company/modrinth.svg" alt="Modrinth" class="w-6 h-6 mr-4"/>
            <p class="hidden md:inline-block">
                {props.buttonText}
            </p>
            <p class="md:hidden">
                {props.buttonTextMobile}
            </p>
        </Button>
    </div>
    <p class="text-zinc-200 mix-blend-luminosity text-base font-light tracking-wide z-20 px-4 py-2 mt-4 hidden sm:block">
        {props.description}
    </p>
</div>